/* App.css */

nav {
    background-color: #000;
    padding: 10px;
    padding-left: 0px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }
  
  nav li {
    margin-left: 30px;
    margin-top: 4px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
  }
  
  nav a:hover {
    color: #19d613e4; /* Change color on hover */
  }
  
  body {
    padding-top: 60px; 
    overflow:hidden;
  }

  .logo {
    color: #fff;
    margin-right: 650px;
  }